
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.local
frontend/.env.local
frontend/.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker e Banco de Dados
pgdata/
docker-data/
*.db
*.sqlite

# Cache e Temporários
.cache/
.eslintcache
.stylelintcache
.vite-inspect

# Build do Frontend
frontend/dist/
frontend/build/